{% extends 'userprofile.html' %}

{% block add_cita %}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content container-fluid">
        <h2>Suscribirse en el Servicio</h2>

        <form method="POST" class="post-form">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        <!--
        <form action="" method="POST">
                {% csrf_token %}       
              <label for="date">Fecha:</label>
                <input class="form-control" type="text" name="date">
              <input type="submit" value="Suscribirse"/>
            
        </form> 
        -->
               
    </section>
</div>
{% endblock %}


