{% extends 'userprofile.html' %}

{% block password %}

<div class="content-wrapper">
    <section class="content container-fluid">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>
            <a class="btn btn-primary" href="{% url 'my_account' %}">Volver</a>
        </div>
    </section>
</div>

{% endblock %}