{% extends 'userprofile.html' %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>{% block title %}Mis Cursos{% endblock %}</title>
</head>

	{% block citas %}
	<div class="content-wrapper">
		<section class="content container-fluid">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Fecha</td>
						<td>Servicio</td>
					</tr>
				</thead>
				<tbody>
					{% if citas %}
					{% for pelicula in citas %}
						{% if user.id == pelicula.id_user %}
						<tr>
							<td>{{ pelicula.date }}</td>
							<td>{{ pelicula.service }}</td>
							<td>
								<a class="btn btn-primary" href="{% url 'delete-cita' dato=pelicula.id %}">Eliminar</a>
							</td>
						</tr>
						{% endif %}
					{% endfor %}
					{% else %}
					<h1>No hay registros de Citas</h1>
					{% endif %}
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="form-group">
					</div>
				</div>
			</div>
		</section>
	</div>
	{% endblock %}
</html>
