{% extends 'userprofile.html' %}

{% block user_account %}

<div class="content-wrapper">
    <section class="content container-fluid">
        <div class="container">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            <a class="btn btn-primary" href="{% url 'change_password' %}">Cambiar Contraseña</a>
            <a class="btn btn-primary" href="{% url 'service_report' %}">Reporte</a>
            <a class="btn btn-primary" href="{% url 'userprofile' %}">Volver</a>
        </div>
    </section>
</div>


{% endblock %}

</html>