{% extends 'userprofile.html' %}

    {% block user_report %}
    <div class="content-wrapper">
        <section class="content container-fluid">
            <div class = 'container'>
                <div class = 'col-x1-12 col-12'>
                    <div id='example' class='table table-bordered display nowrap' style='width:100%'>
                        
                      {% block reporte_contenido %}

                      {% endblock %}

                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
</html>