{% extends 'report.html' %}

{% block reporte_contenido %}

<div class="content container-fluid">
	<section class="content container-fluid">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td><h2>Descripción</h2></td>
					<td><h2>Tipo</h2></td>
                    <td><h2>Precio</h2></td>
				</tr>
			</thead>
			<tbody>
				{% if object_list %}
                    {% for o in object_list %}
                    <tr>
                        <td>{{ o.description }}</td>
                        <td>{{ o.tipo }}</td>
                        <td>{{ o.price }}</td>
                    </tr>
                    {% endfor %}
				{% else %}
				    <h1>No hay registros de Servicios</h1>
				{% endif %}
			</tbody>
		</table>

        <table class="table table-bordered">
			<thead>
				<tr>
					<td><h2>Nombre de Categoria</h2></td>
				</tr>
			</thead>
			<tbody>
				{% if object_list2 %}
                    {% for o in object_list2 %}
                    <tr>
                        <td>{{ o.nombreCategoria }}</td>
                    </tr>
                    {% endfor %}
				{% else %}
				    <h1>No hay registros de Categorias</h1>
				{% endif %}
			</tbody>
		</table>
	</section>
</div>
{% endblock %}

