{% extends 'userprofile.html' %}

{% block service_create %}

<div class="content-wrapper">
    <section class="content container-fluid">
        <div class="container">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            <a class="btn btn-primary" href="{% url 'userprofile' %}">Volver</a>
        </div>
    </section>
</div>


{% endblock %}

</html>