{% extends 'userprofile.html' %}
<head>
    <title>We Om & Co</title>
    <!-- Tell the browser to be responsive to screen width -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Ionicons -->
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" media:"screen(max-width:380px)">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.5/css/AdminLTE.min.css">
   <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
  
  
    {% load static %}
    <link href="{% static 'css/skins/skin-blue.min.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>
  {% block bodyclient %} 
  <div class="content-wrapper">
      <!-- Main content -->
      <section class="content container-fluid">

        <!--------------------------
          | Your Page Content Here |
          -------------------------->

          <!-- INICIO SECCION -->
        {% if service %}
        <section class="personal" id="personal">
          <div class="container">
            <div class="container gallery-container" id="maestros">
              <div class="tz-gallery">
        
                <div class="row">
                  <h1 class="text-center">
                    Cursos Actuales
                  </h1>
        
                  <p class="page-description text-center">
                    ¡Regístrate!
                  </p>
                </div>
                {% for servicio in service %}
                  <div class="row">        
                    <div class="col-lg-5 mb-4">
                      <div class="card text-center">
                          <a class="lightbox" >
                            <img src="{% static 'img/yoga1.jpg' %}" class="card-img-top" id="yoga1">
                            <a href="{% url 'post_new' user.id servicio.id %}" class=" btn btn-primary" data-toggle="modal">Registrarse</a>
                          </a>
                      </div>         
                    </div>
                  </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </section>

          <!-- FIN SECCION -->
        {% else %}
          <h1>No hay registros de servicio</h1>
        {% endif %}
      </section>
      <!-- /.content -->
    </div>
  {% endblock %}
</htm>  