

<div >
  <canvas id="g1">{{ chart }}</canvas>
  <canvas id="g2">{{ chart }}</canvas>
  <canvas id="g3">{{ chart }}</canvas>
</div>

<!--

 <div style="text-align:center" class="contenedor">
        <h1>
            Estadisticas {{ title }} 
        </h1>
        <div class="g1">
            <canvas id="lineChart" ></canvas>
        </div>

        <div class="g2">
            <canvas id="barChart"></canvas>
        </div>

        <div class="g3">
            <canvas id="pieChart"></canvas>
        </div>
</div>

-->