<footer class="py-5 bg-dark">
  <div class="container">
      <div class="row">
          <div class="col-lg-3  col-md-6 col-sm-6">
              <div class="single-footer-widget text-white">
                  <h4>Acerca de Nosotros</h4>
                  <p class="text-white">
                      Nuestros alumnos aprenden a enseñar pero también a expandir conciencia de amor, paz, gratitud,
                      perdón y compasión a ellos y a la humanidad
                  </p>
              </div>
          </div>
          <div class="col-lg-4  col-md-6 col-sm-6">
              <div class="single-footer-widget text-white">
                  <h4>Contáctanos</h4>
                  <p class="text-white">
                      info@domain.com
                  </p>
                  <p class="text-white">
                      +593 2123456
                  </p>
              </div>
          </div>
          <div class="col-lg-5  col-md-6 col-sm-6">
              <div class="single-footer-widget text-white">
                  <h4>Comunícate con Nosotros</h4>
                  <p class="text-white">¡Ingresa tu correo aquí!.</p>
                  <div class="d-flex flex-row" id="mc_embed_signup">

                      <!--<form>
                          <a class="btn btn-primary" href="contact.html" role="button">Incribirse</a>
                      </form>-->
                        <form class="form-inline my-2 my-lg-0">
                            <!--<input class="form-control bg-transparent text-white mr-sm-2" type="search" placeholder="e-mail" aria-label="Search">-->
                            <a class="btn btn-primary" href="http://127.0.0.1:8000/signup" role="button">Inscribirse</a>
                        </form>
                  </div>
              </div>
          </div>
      </div>
    <p class="m-0 text-center text-white">Copyright &copy; We Om & Co. {{anio}}</p>
  </div>

</footer>