<div id="carouselExampleIndicators" class="carousel slide .d-none .d-md-block .d-xl-none" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/yoga4.jpg" alt="First Slide" />
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/yoga2.jpg" alt="Second Slide"/>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" >
            <img class="d-block w-100" src="assets/img/yoga3.jpg" alt="Third Slide" />
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
